:root {
  --darkColor: #15192a;
  --lightColor: white;
  --warningColor: red;
  --button: {
    border: 1px solid var(--lightColor);
    border-radius: 5px;
    background: var(--darckColor);
    color: var(--lightColor);
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 5px solid var(--lightColor)
  };
}

/* @custom-media --small screen and (max-width: 768px); */
@custom-media --extra-small screen and (width < 480px);
@custom-media --small screen and (width < 768px);
@custom-media --medium screen and (width >= 768px);
@custom-media --large screen and (width >= 1024px);

@media (--small) {
  body {
    border: 10px solid blue;
  }
  /* .home {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 150px;
    grid-template-areas: "primary"
                         "sidebar"
                         "featuring";
  } */
  /* .featuring {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;

  } */
}

@media (--extra-small) {
  body {
    border: 10px solid orange;
  }
}